@import 'base.css';
@import 'skeleton.css';
@import 'layout.css';

.header {
	text-align: center;
	height: 100px;
	background: #dbdbdb;
	width: 960px;
	z-index:10;
	position: fixed;
	
}
.hero {
	text-align: center;
	height: 500px;
	width:960px;
	position: fixed;
	background: #707070;
	margin-left :auto;
	margin-right: auto;
	
}
.hero .header {
	color: #ebebeb;
	
}

#content {
	text-align: left;
	position: relative;
	width: 100%;
	top: 400px;
	background: #ebebeb;
	height: 1500px;
	margin: auto;
}